<form [formGroup]="form">
  <div class="row">
    <div class="col-md-2">
      <input type="number" class="form-control" formControlName="amount" required>
      <span class="text-danger small">should be greater than 0</span>
    </div>
    <div class="col-md-2">
      <input type="date" class="form-control" formControlName="date">
    </div>
    <div class="col-md-2">
      <select name="category" id="" class="col-md-2 form-select" formControlName="categoryName">
          <option value="null">Select Category</option>
          <option *ngFor="let category of categories" [value]="category.name"
            [selected]="expense.categoryName == category.name"
          >{{ category.name }}</option>
      </select>
    </div>
    <div class="col-md-3">
      <textarea  cols="30" rows="1" class="form-control" placeholder="Description" formControlName="description"></textarea>
    </div>
    <div class="col-md-1">
      <button class="btn btn-success" (click)="onSubmit()">Add</button>
    </div>

  </div>
</form>
