<form [formGroup]="expenseForm">
  <div class="row">
    <div class="col-md-2">
      <input type="number" class="form-control" formControlName="amount" required>
      <span class="text-danger small" *ngIf="expenseForm.get('amount')?.errors?.negativeOrNonZero">should be greater than 0</span>
    </div>
    <div class="col-md-2">
      <input type="date" class="form-control" formControlName="date">
      <span class="text-danger small" *ngIf="expenseForm.get('date')?.errors?.dateInFuture">Date in future</span>
    </div>
    <div class="col-md-2">
      <select name="category" id="" class="col-md-2 form-select" formControlName="categoryName">
          <option value="null">Select Category</option>
          <option *ngFor="let category of categories" [value]="category?.name"
            [selected]="expense?.categoryName == category?.name"
          >{{category?.name}}</option>
      </select>
    </div>
    <div class="col-md-3">
      <textarea  cols="30" rows="1" class="form-control" placeholder="Description" formControlName="description"></textarea>
    </div>
    <div class="col-md-1" *ngIf="!editMode">
      <button class="btn btn-success" (click)="onAdd()">Add</button>
    </div>
    <div class="col-md-1" *ngIf="editMode">
      <button class="btn btn-warning" (click)="onEdit()">Save</button>
    </div>
  </div>
</form>
