<div class="bg-light">
<button class="btn btn-primary" (click)="newClicked()">New</button>
<div class="row">
  <div class="col-md-2">
    <span class="h4">Amount</span>
  </div>
   <div class="col-md-2">
    <span class="h4">Date</span>
  </div>
  <div class="col-md-2">
    <span class="h4">Category</span>
  </div>
  <div class="col-md-3">
    <span class="h4">description</span>
  </div>
</div>
<app-expense-form *ngIf="newExpenseSelected"></app-expense-form>
<ul class="list-group list-group-flush" *ngIf="expenses.length > 0" style="list-style-type: none;">
    <li *ngFor="let expense of expenses">
        <app-expense [expense]="expense" [categories]="categories" (refreshExpensesEvent)="refreshExpenses()"></app-expense>
    </li>

    <mat-paginator [length] = "totalCount"
                    [pageSize] = "pageSize"
                    [pageSizeOptions] = "[5,10,15]"
                    (page)="onPageChange($event)">
    </mat-paginator>
</ul>
</div>
