<nav class="navbar navbar-expand-lg bg-secondary">
    <a class="navbar-brand text-light" href="#">Expense Tacker</a>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup" >
        <div class="navbar-nav">
          <a class="nav-item nav-link active text-light" [routerLink]="['expenses', 'paged']">Expenses</a>
          <a class="nav-item nav-link text-light" [routerLink]="['categories']">Categories</a>
        </div>
        <div class="navbar-nav ms-auto">
          <a class="nav-item nav-link text-white bg-dark" *ngIf="user">{{ user?.firstname }}</a>
          <a class="nav-item nav-link text-white bg-dark" [routerLink]="['users/login']" *ngIf="!user">Login</a>
          <a class="nav-item nav-link text-white bg-dark" *ngIf="user" (click)="logout()">Logout</a>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>
