
  <div class="col-md-4 align-self-center m-auto">
    <div>
      <button class="btn btn-light form-control border-dark my-2">Login With Google</button>
    </div>
    <div class="row">
      <button class="btn col-md-6" [class]="loginSelected ? 'bg-primary' : 'bg-secondary'" (click)="loginSelected = true">Login</button>
      <button class="btn col-md-6" [class]="!loginSelected ? 'bg-primary' : 'bg-secondary'" (click)="loginSelected = false">Register</button>
    </div>
    <form class="my-2" [formGroup]="loginForm" action="" *ngIf="loginSelected" (ngSubmit)="loginClicked()">
      <div class="form-group">
        <label for="loginEmail" >Email</label>
        <input type="email" formControlName="email" id="loginEmail" class="form-control"/>
        <span class="text-danger" *ngIf="loginForm?.get('email').touched && loginForm?.get('email').errors?.['required']">Required</span>
        <span class="text-danger" *ngIf="loginForm?.get('email').touched && loginForm?.get('email').errors?.['email']">Not a valid email</span>
      </div>
      <div class="form-group">
        <label for="loginPassword" >Password</label>
        <input type="password" formControlName="password" id="loginPassword" class="form-control"/>
        <span class="text-danger" *ngIf="loginForm?.get('password').touched && loginForm?.get('password').errors?.['required']">Required</span>
      </div>
      <button type="submit" class="btn btn-dark form-control">Login</button>
    </form>

    <form class="my-2" action="" [formGroup]="registerForm" *ngIf="!loginSelected" (ngSubmit)="RegisterClicked()">
      <div class="form-group">
        <label for="firstname">First Name</label>
        <input type="text" formControlName="firstname" id="firstname" class="form-control"/>
        <span class="text-danger" *ngIf="registerForm?.get('firstname').touched && registerForm?.get('firstname').errors?.['required']">Required</span>
      </div>
      <div class="form-group">
        <label for="lastname">Last Name</label>
        <input type="text" formControlName="lastname" id="lastname" class="form-control"/>
      </div>
      <div class="form-group">
        <label for="registerEmail">Email</label>
        <input type="email" formControlName="email" id="registerEmail" class="form-control"/>
        <span class="text-danger" *ngIf="registerForm?.get('email').touched && registerForm?.get('email').errors?.['required']">Required</span>
        <span class="text-danger" *ngIf="registerForm?.get('email').touched && registerForm?.get('email').errors?.['email']">Not a valid email</span>
      </div>
      <div class="form-group">
        <label for="registerPassword">Password</label>
        <input type="password" formControlName="password" id="registerPassword" class="form-control"/>
        <span class="text-danger" *ngIf="registerForm?.get('password').touched && registerForm?.get('password').errors?.['required']">Required</span>
      </div>
      <button type="submit" class="btn btn-success form-control">Register</button>
    </form>
  </div>
