<div class="row">
  <div class="col-md-2">
      <input type="number" class="form-control" [(ngModel)]="expense.amount" [hidden]="!editOn">
      <h2 [hidden]="editOn">{{ expense.amount | currency:"INR"}}</h2>
  </div>
   <div class="col-md-2">
      <input [disabled]="!editOn" type="date" class="form-control" [ngModel]="expense.date | date:'yyyy-MM-dd'" (ngModelChange)="expense.date = $event">
  </div>
  <div class="col-md-2">
      <select name="category" id="" [(ngModel)]="expense.categoryName" class="col-md-2 form-select" [disabled]="!editOn">
          <option *ngFor="let category of categories" value="{{ category.name }}" [selected]="category.name === expense.categoryName">{{ category.name }}</option>
        </select>
  </div>

  <div class="col-md-3">
      <textarea [(ngModel)]="expense.description" name="" id="" cols="30" rows="1" class="form-control" [disabled]="!editOn"></textarea>
  </div>

  <div class="col-md-2">
    <button class="btn" (click)="editClicked()" [hidden]="editOn"><img src="../../assets/images/edit.png" alt="edit" width="25px" height="25px" title="edit"></button>
    <button class="btn" (click)="save()" [hidden]="!editOn"><img src="../../assets/images/save.jpg" alt="save" width="25px" height="25px" title="edit" ></button>
    <button class="btn" (click)="delete()"><img src="../../assets/images/delete.png" alt="delete" width="25px" height="25px" title="delete"></button>
  </div>

</div>
